* {
  font-family: "Fredoka One", cursive;
}

body {
  margin: 0;
  padding: 0;
}

.container-all {
  background-image: url(/img/back.png);
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}

.container {
  position: absolute;
  top: calc(50% - 35%);
  left: calc(50% - 35%);
  width: 70%;
  height: 70%;
}

.white-frame {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 95%;
  height: 90%;
  background-color: white;
  border: solid 5px #283c5f;
  border-radius: 1em;
}

.line {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 95%;
  height: 90%;
  border: solid 5px #283c5f;
  border-radius: 1em;
  z-index: 2;
}

.r18 {
  position: absolute;
  font-size: 70px;
  color: white;
  top: 150px;
  left: 550px;
  padding: 10px;
  transform: rotate(5deg);
  z-index: 2;
  border-radius: 10px;
  background-color: rgb(255, 106, 175);
  cursor: pointer;
  cursor: hand;
}

.d {
  position: absolute;
  font-size: 400px;
  color: rgb(6, 41, 128);
  top: -20px;
  left: -40px;
  transform: rotate(-15deg);
  z-index: 2;
  height: 100px;
  display: block;
}

.l {
  position: absolute;
  font-size: 400px;
  font-weight: 900;
  color: rgb(6, 41, 128);
  top: -50px;
  left: 300px;
  transform: rotate(5deg);
  z-index: 2;
}

.s {
  position: absolute;
  font-size: 400px;
  font-weight: 300;
  color: rgb(6, 41, 128);
  top: 250px;
  left: 80px;
  transform: rotate(-5deg);
  z-index: 2;
}

.i {
  position: absolute;
  font-size: 300px;
  font-weight: 350;
  color: rgb(6, 41, 128);
  top: 330px;
  left: 320px;
  transform: rotate(-5deg);
  z-index: 2;
}

.t {
  position: absolute;
  font-size: 350px;
  font-weight: 300;
  color: rgb(6, 41, 128);
  top: 300px;
  left: 420px;
  transform: rotate(10deg);
  z-index: 2;
}

.e {
  position: absolute;
  font-size: 350px;
  font-weight: 300;
  color: rgb(6, 41, 128);
  top: 300px;
  left: 600px;
  transform: rotate(15deg);
  z-index: 2;
}

.kurin {
  position: absolute;
  display: block;
  z-index: 1;
  right: 0;
  bottom: -1px;
}

.kurin img {
  width: 600px;
}
